/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run BioinfoIPBLN/reanatax -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data: SARS-CoV-2 reads from the nf-core test-datasets repository
    input                      = "${projectDir}/assets/samplesheet_test.csv"

    // Host genome: a 40 kb slice of the human genome. The SARS-CoV-2 reads do
    // not align to it, so essentially the whole library survives host depletion
    // and reaches Kraken2 - which is what this test needs to exercise.
    host                       = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'

    // Kraken2 database containing SARS-CoV-2, with Bracken distributions for
    // 100 bp and 150 bp reads.
    kraken2_db                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/db/kraken2_bracken.tar.gz'
    bracken_read_length        = 100
}
